.coluna-header {
    min-height: 100vh; 
    align-items: center; 
    justify-content: center;
    padding: 5%;
    font-size: 5vw;
}

.header-1 {
    background: center / contain no-repeat url("../imagens/selos.svg");
    background-color: #162746;
    color:  #FACA35;
}

.header-2 {
    background-image: url("../imagens/pessoas-sentadas-amarelo.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed fixed;
    color: #162746;
}

.header-2 p {
    padding: 20px 40px;
    background-color: #FACA35;
    border-radius: 25px;
    text-align: center;
}

.header-3 {
    background-image: url("../imagens/pintura.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed fixed;
}

.header-4 {
    background-color:rgb(255, 231, 47); 
}

.header-5 {
    background-color:rgb(150, 150, 150); 
}

.coluna-questionario {
    color: #162746;
    font-size: 1.1rem;
}

.fundo-azul {
    background-color: #d6dff2;
}

.fundo-amarelo {
    background-color: #fff3ce;
}

.coluna-perguntas {
    height: 90vh; 
    min-height: fit-content; 
    align-items: center; 
    justify-content: center;
    margin-inline: 10%;
    padding: 20px;
}

.coluna-botao {
    justify-content: right;
    align-items: center; 
    height: 10vh; 
    min-height: fit-content; 
    padding: 10px;
}

.btn-questionario {
    background-color: #162746;
    border-color: #162746;
    color: #FACA35;
}