.coluna-header {
    height: 100vh; 
    min-height: 500px; 
    align-items: center; 
    justify-content: center;
    padding: 5%;
    font-size: 5vw;
}

.header-1 {
    background-color: #162746;
    color:  #FACA35;
}

.header-2 {
    background-color:rgb(96, 100, 223); 
}

.header-3 {
    background-color:rgb(96, 219, 223); 
}

.header-4 {
    background-color:rgb(255, 231, 47); 
}

.header-5 {
    background-color:rgb(150, 150, 150); 
}

.coluna-questionario {
    background-color:rgb(250, 246, 240);
}

.coluna-perguntas {
    height: 90vh; 
    min-height: 450px; 
    align-items: center; 
    justify-content: center;
    margin-inline: 10%;
}

.coluna-botao {
    justify-content: right;
    align-items: center; 
    height: 10vh; 
    min-height: 50px; 
}
