body {
    color:#162746;
	background-color: #FACA35;
}

.description p {
	font-size: 1.1rem;
	line-height: 1.5;
}

.description l1 {
	font-size: 1.4rem;
}

.conteudos {
	min-height: 100vh; 
	text-align: center;
    align-items: center; 
    justify-content: center;
    padding: 1.5%;
}