body {
    background-color:rgb(184, 238, 192);
}


.description h1 {
	color: #1a1714;
}

.description p {
	color: #000000;
	font-size: 1.1rem;
	line-height: 1.5;
}

.description l1 {
	color: #1a1714;
	font-size: 1.4rem;
}

.conteudos {
	min-height: 100vh; 
	text-align: center;
    align-items: center; 
    justify-content: center;
    padding: 3%;
}


