.description {

	position: relative;

	width:80%;
	height:100%;
	transform: translate(10%, 20%);
	text-align: center;
	animation-name: fade-in;
	animation-duration:2s;
}
.description h1 {
	color: #1a1714;
}
.description p {
	color: #8c8c8b;
	font-size: 1.1rem;
	line-height: 1.5;
}
.description l1 {
	color: #1a1714;
	font-size: 1.4rem;
}

@keyframes fade-in {
  0%   {opacity:0%; transform: translate(10%, 40%);}
  100% {opacity:100%;}
}



