.coluna-header {
    background-color:rgb(223, 96, 223); 
    height: 100vh; 
    min-height: 500px; 
    align-items: center; 
    justify-content: center;
}

.coluna-questionario {
    background-color:rgb(250, 246, 240);
}

.coluna-perguntas {
    height: 90vh; 
    min-height: 450px; 
    align-items: center; 
    justify-content: center;
}

.coluna-botao {
    justify-content: right;
    align-items: center; 
    height: 10vh; 
    min-height: 50px; 
}
