body {
    color:#162746;
	background-color: #FACA35;
}

.description p {
	font-size: 1.1rem;
	line-height: 1.5;
}

.description l1 {
	font-size: 2.5rem;
}

.description {
    height: 100vh;
	min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudos {
	text-align: center;
    justify-content: center;
}

img {
	max-width: 30vw;
	height: 15vh;
}